PORT=3000
NODE_ENV=development
JWT_SECRET=mita_secret_jwt_2026_build_with_ai
JWT_EXPIRES_IN=7d
DATABASE_URL=postgresql://postgres.xbkitlawzkhmieqbaodd:YOUR_PASSWORD@aws-1-us-east-1.pooler.supabase.com:5432/postgres
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
